In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv(r"C:\Users\shiva\Downloads\Churn_Modelling.csv")
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [3]:
features = ['CreditScore', 'Age']
target = 'Exited'

x = df[features]
y = df[target]

In [4]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2,random_state = 3)

In [5]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(x_train)
X_test_scaled = scaler.transform(x_test)

In [6]:
len(x_train),len(x_test),len(y_train),len(y_test)

(8000, 2000, 8000, 2000)

In [7]:
from tensorflow import keras
from tensorflow.keras import layers

model = keras.Sequential([
    layers.Dense(units=64, input_shape=(x_train.shape[1],), activation='relu'),
    layers.Dense(units=32, activation='relu'),
    layers.Dense(units=1, activation='sigmoid')
])

model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

# Train the model
model.fit(X_train_scaled, y_train, epochs=10, batch_size=32, validation_data=(X_test_scaled, y_test))

# Evaluate the model on the test set
test_loss, test_accuracy = model.evaluate(X_test_scaled, y_test)
print(f'Test Loss: {test_loss}, Test Accuracy: {test_accuracy}')

WARNING:tensorflow:From C:\Users\shiva\anaconda3\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

WARNING:tensorflow:From C:\Users\shiva\anaconda3\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From C:\Users\shiva\anaconda3\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Epoch 1/10
WARNING:tensorflow:From C:\Users\shiva\anaconda3\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\shiva\anaconda3\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 4s 8ms/step - loss: 0.4859 - accuracy: 0.7880 - val_loss: 0.4466 - val_accuracy: 0.8025
Epoch 2/10
250/250 [==============================] - 1s 6ms/step - loss: 0.4475 - accuracy: 0.7947 - val_loss: 0.4455 - val_accuracy: 0.8060
Epoch 3/10
250/250 [==============================] - 2s 6ms/step - loss: 0.4435 - accuracy: 0.7987 - val_loss: 0.4383 - val_accuracy: 0.8060
Epoch 4/10
250/250 [==============================] - 1s 6ms/step - loss: 0.4422 - accuracy: 0.7984 - val_loss: 0.4398 - val_accuracy: 0.8120
Epoch 5/10
250/250 [==============================] - 2s 6ms/step - loss: 0.4397 - accuracy: 0.8005 - val_loss: 0.4409 - val_accuracy: 0.8130
Epoch 6/10
250/250 [==============================] - 1s 5ms/step - loss: 0.4396 - accuracy: 0.8021 - val_loss: 0.4370 - val_accuracy: 0.8140
Epoch 7/10
250/250 [==============================] - 1s 6ms/step - loss: 0.4384 - accuracy: 0.8010 - val_loss: 0.4368 - val_accuracy: 0.8145
Epoch 8/10
250/250 [==============================] - 2s 6ms/step - loss: 0.4387 - accuracy: 0.8010 - val_loss: 0.4340 - val_accuracy: 0.8155
Epoch 9/10
250/250 [==============================] - 1s 6ms/step - loss: 0.4374 - accuracy: 0.8034 - val_loss: 0.4377 - val_accuracy: 0.8130
Epoch 10/10
250/250 [==============================] - 2s 6ms/step - loss: 0.4374 - accuracy: 0.8062 - val_loss: 0.4335 - val_accuracy: 0.8190
63/63 [==============================] - 0s 4ms/step - loss: 0.4335 - accuracy: 0.8190
Test Loss: 0.433458536863327, Test Accuracy: 0.8190000057220459

In [8]:
model.evaluate(x_test,y_test)

63/63 [==============================] - 1s 5ms/step - loss: 36.1608 - accuracy: 0.1975

[36.16075134277344, 0.19750000536441803]

In [9]:
yp = model.predict(x_test)
yp[:5]

63/63 [==============================] - 0s 4ms/step

array([[1.],
       [1.],
       [1.],
       [1.],
       [1.]], dtype=float32)

In [10]:
y_test

5876    0
6555    0
1448    1
3351    0
231     0
       ..
869     0
2928    1
8436    0
6312    0
7195    0
Name: Exited, Length: 2000, dtype: int64